<%- include("templates/headers") %>
<html>
<body>
  <div class="text-center">
    <h3>You have insufficient permissions to access this page.</h3>
    <a href="/" class="btn btn-primary btn-lg">Home</a>
  </div>
</body>
<%- include("templates/footers") %>