<%- include("templates/headers") %>

  <div class="container">

    <form action='/signup' method='get'>
      <button>Sign up</button>
    </form>
    <form action='/login' method='get'>
      <button>Log in</button>
    </form>
  </div>

  <%- include("templates/footers") %>